body{
    background:#3D7475;
    display: flow-root;
}

.CESC {
    font-size: 28px;
    color:#524b4b;
    text-decoration:none;
    font-weight: 700;
    display: flex;
    justify-self: center;
    text-align: center;
}

header ul {
    position: auto;
    list-style:none;    
    background: #d2b7b7;
    text-align: center;
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: flex;
    justify-content: center;
    background: relative;
    padding:10px;
    margin: 1px solid 0;
    color: #fff;
    text-decoration: none;
    text-align: justify;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    background: #a76e6e;
    position: absolute; 
    display: none;
    z-index: 999;
}

ul li a:hover {
    background: #fff;
    transition: 0.5s;
    color: black;
}

ul li:hover ul.dropdown {
    display: block;
}

.nets {
    float: left;
    padding: 1px; 
    margin: 1px solid 0;
    display: flow-root;
    width: 30px;
    height: 30px;
}

button.nextbtn {
    padding: 1px;
    margin: 1px;
    border: #a76e6e double 8px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #a76e6e;
    font-style: bold;
}